# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
**/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

[Bb]in/
[Oo]bj/
*.pdb
*.user
*.suo
*.ncb
*.aps
*.vspscc
*.vssscc
*.buildscc
*.vsmdi
*.vsmacros
*.csproj.user
*.resharper
*.dotSettings
*.pidb
*.log
*.bak
*.cache
*.scc
*.vssscc
*.vspscc
*.vsp
*.vspx
*.trx
*.testsettings
*.orderedtest
*.coverage
*.coveragexml
*.rptproj.user
*.dbmdl
*.jfm
*.pfx
*.snk
*.pub
*.secrets
*.local
*.esproj.user
*.dcproj.user