services:
  produtoapi:
    image: ${DOCKER_REGISTRY-}produtoapi
    container_name: api_produto
    build:
      context: .
      dockerfile: API/KorpAPI/ProdutoAPI/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
    ports:
      - "3030:8080"
    depends_on:
      database:
        condition: service_healthy

  notafiscalapi:
    image: ${DOCKER_REGISTRY-}notafiscalapi
    container_name: api_nota_fiscal
    build:
      context: .
      dockerfile: API/KorpAPI/NotaFiscalAPI/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
    ports:
      - "3031:8080"
    depends_on:
      database:
        condition: service_healthy

  database:
    build: .
    container_name: db_korp
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Teste_1234"
    expose:
      - "1433"
    volumes:
      - sql:/var/opt/mssql
    restart: unless-stopped
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S database -U sa -P Teste_1234 -Q "SELECT 1" -C
      interval: 5s
      retries: 10
    
  db-init:
    build:
      context: .
      dockerfile: Dockerfile.db-init
    depends_on:
      database:
        condition: service_healthy
    environment:
      MSSQL_SA_PASSWORD: "Teste_1234"
    volumes:
      - ./SQL.sql:/init.sql
    restart: "no"

  angularapp:
    build:
      context: ./Korp-Site
      dockerfile: Dockerfile
    container_name: korp_site
    ports:
      - "4200:80"
    depends_on:
      - produtoapi
      - notafiscalapi

volumes:
  sql: